USE [master]
GO
/****** Object:  Database [DB_SaarniitRasmus]    Script Date: 27.04.2025 19:36:30 ******/
CREATE DATABASE [DB_SaarniitRasmus]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbSaarniit', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\dbSaarniit.mdf' , SIZE = 13248KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'dbSaarniit_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\dbSaarniit_log.ldf' , SIZE = 43264KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_SaarniitRasmus].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_SaarniitRasmus]
GO
/****** Object:  Schema [clinic]    Script Date: 27.04.2025 19:36:31 ******/
CREATE SCHEMA [clinic]
GO
/****** Object:  Schema [SELVER]    Script Date: 27.04.2025 19:36:31 ******/
CREATE SCHEMA [SELVER]
GO
/****** Object:  UserDefinedFunction [dbo].[CalculateAgeFromIDCode]    Script Date: 27.04.2025 19:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[CalculateAgeFromIDCode]
(
    @IDCode NVARCHAR(11) -- Input: Estonian ID code (11 characters)
)
RETURNS INT -- Returns the calculated age
AS
BEGIN
    DECLARE @BirthDate DATE;
    DECLARE @Century INT;
    DECLARE @Year INT;
    DECLARE @Month INT;
    DECLARE @Day INT;

    -- Extract the century based on the first digit of the ID code
    SET @Century = CASE 
        WHEN LEFT(@IDCode, 1) IN ('1', '2') THEN 1800
        WHEN LEFT(@IDCode, 1) IN ('3', '4') THEN 1900
        WHEN LEFT(@IDCode, 1) IN ('5', '6') THEN 2000
        WHEN LEFT(@IDCode, 1) IN ('7', '8') THEN 2100
        ELSE NULL
    END;

    -- Extract the year, month, and day from the ID code
    SET @Year = @Century + CAST(SUBSTRING(@IDCode, 2, 2) AS INT);
    SET @Month = CAST(SUBSTRING(@IDCode, 4, 2) AS INT);
    SET @Day = CAST(SUBSTRING(@IDCode, 6, 2) AS INT);

    -- Construct the birthdate
    SET @BirthDate = DATEFROMPARTS(@Year, @Month, @Day);

    -- Calculate the age
    RETURN DATEDIFF(YEAR, @BirthDate, GETDATE()) - 
           CASE WHEN DATEADD(YEAR, DATEDIFF(YEAR, @BirthDate, GETDATE()), @BirthDate) > GETDATE() THEN 1 ELSE 0 END;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[GetAthleteNameByID]    Script Date: 27.04.2025 19:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[GetAthleteNameByID]
(
    @AthleteID INT -- Input: AthleteID
)
RETURNS NVARCHAR(200) -- Returns the AthleteName
AS
BEGIN
    DECLARE @AthleteName NVARCHAR(200);

    -- Retrieve the athlete's name based on AthleteID
    SELECT @AthleteName = AthleteName
    FROM OG.Ol_games.tAthlete
    WHERE AthleteID = @AthleteID;

    RETURN @AthleteName;
END;
GO
/****** Object:  View [dbo].[Statistikaandmed]    Script Date: 27.04.2025 19:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Statistikaandmed]
AS
SELECT 
    tTeam.Team AS TiimiNimi,
    COUNT(DISTINCT tSportEvent.EventID) AS OsalemisteArv
FROM 
    OG.OL_games.tTeam AS tTeam
LEFT JOIN 
    OG.OL_games.tSportEvent AS tSportEvent ON tTeam.TeamID = tSportEvent.EventID
GROUP BY 
    tTeam.Team;
GO
/****** Object:  Table [clinic].[Haiguslood]    Script Date: 27.04.2025 19:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [clinic].[Haiguslood](
	[HaiguslooID] [int] IDENTITY(1,1) NOT NULL,
	[PatsiendiID] [int] NOT NULL,
	[T99tajaID] [int] NOT NULL,
	[KliendiID] [int] NOT NULL,
	[Kuupäev] [date] NOT NULL,
	[Kirjeldus] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[HaiguslooID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [clinic].[Kasutajad]    Script Date: 27.04.2025 19:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [clinic].[Kasutajad](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](100) NOT NULL,
	[passwordHash] [varchar](255) NOT NULL,
	[role] [varchar](20) NOT NULL,
	[createdAt] [datetime2](7) NOT NULL,
	[updatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [clinic].[Klient]    Script Date: 27.04.2025 19:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [clinic].[Klient](
	[KliendiID] [int] IDENTITY(1,1) NOT NULL,
	[Eesnimi] [nvarchar](50) NOT NULL,
	[Perekonnanimi] [nvarchar](50) NOT NULL,
	[Isikukood] [nvarchar](50) NOT NULL,
	[Telefoninr] [nvarchar](50) NOT NULL,
	[Epost] [nvarchar](50) NOT NULL,
	[Elukoht] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KliendiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [clinic].[Liik]    Script Date: 27.04.2025 19:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [clinic].[Liik](
	[LiigiID] [int] IDENTITY(1,1) NOT NULL,
	[Nimetus] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LiigiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [clinic].[Patsiendid]    Script Date: 27.04.2025 19:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [clinic].[Patsiendid](
	[PatsiendiID] [int] IDENTITY(1,1) NOT NULL,
	[Nimi] [nvarchar](50) NOT NULL,
	[Vanus] [tinyint] NOT NULL,
	[T6ug] [nvarchar](50) NOT NULL,
	[Steriliseerimine] [bit] NOT NULL,
	[LiigiID] [int] NOT NULL,
	[KliendiID] [int] NOT NULL,
	[VisiidiID] [int] NULL,
	[HaiguslooID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PatsiendiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [clinic].[Spetsialiseerumine]    Script Date: 27.04.2025 19:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [clinic].[Spetsialiseerumine](
	[ArstiID] [int] NOT NULL,
	[Valdkond] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [clinic].[T99tajad]    Script Date: 27.04.2025 19:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [clinic].[T99tajad](
	[T99tajaID] [int] IDENTITY(1,1) NOT NULL,
	[LaborandiID] [int] NULL,
	[TehnikuID] [int] NULL,
	[ArstiID] [int] NULL,
	[Valdkond] [varchar](50) NOT NULL,
	[Eesnimi] [varchar](50) NOT NULL,
	[Perekonnanimi] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[T99tajaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [clinic].[Visiit]    Script Date: 27.04.2025 19:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [clinic].[Visiit](
	[VisiidiID] [int] IDENTITY(1,1) NOT NULL,
	[PatsiendiID] [int] NOT NULL,
	[T99tajaID] [int] NOT NULL,
	[Kuup2ev] [date] NOT NULL,
	[Kaal] [real] NOT NULL,
	[HaiguslooID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[VisiidiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [clinic].[Kasutajad] ADD  DEFAULT ('User') FOR [role]
GO
ALTER TABLE [clinic].[Visiit] ADD  DEFAULT (getdate()) FOR [Kuup2ev]
GO
ALTER TABLE [clinic].[Haiguslood]  WITH CHECK ADD  CONSTRAINT [FK_Haiguslood_Klient] FOREIGN KEY([KliendiID])
REFERENCES [clinic].[Klient] ([KliendiID])
GO
ALTER TABLE [clinic].[Haiguslood] CHECK CONSTRAINT [FK_Haiguslood_Klient]
GO
ALTER TABLE [clinic].[Haiguslood]  WITH CHECK ADD  CONSTRAINT [FK_Haiguslood_Patsiendid] FOREIGN KEY([PatsiendiID])
REFERENCES [clinic].[Patsiendid] ([PatsiendiID])
GO
ALTER TABLE [clinic].[Haiguslood] CHECK CONSTRAINT [FK_Haiguslood_Patsiendid]
GO
ALTER TABLE [clinic].[Haiguslood]  WITH CHECK ADD  CONSTRAINT [FK_Haiguslood_T99tajad] FOREIGN KEY([T99tajaID])
REFERENCES [clinic].[T99tajad] ([T99tajaID])
GO
ALTER TABLE [clinic].[Haiguslood] CHECK CONSTRAINT [FK_Haiguslood_T99tajad]
GO
ALTER TABLE [clinic].[Patsiendid]  WITH CHECK ADD  CONSTRAINT [FK_Patsiendid_Haiguslood] FOREIGN KEY([HaiguslooID])
REFERENCES [clinic].[Haiguslood] ([HaiguslooID])
GO
ALTER TABLE [clinic].[Patsiendid] CHECK CONSTRAINT [FK_Patsiendid_Haiguslood]
GO
ALTER TABLE [clinic].[Patsiendid]  WITH CHECK ADD  CONSTRAINT [FK_Patsiendid_Klient] FOREIGN KEY([KliendiID])
REFERENCES [clinic].[Klient] ([KliendiID])
GO
ALTER TABLE [clinic].[Patsiendid] CHECK CONSTRAINT [FK_Patsiendid_Klient]
GO
ALTER TABLE [clinic].[Patsiendid]  WITH CHECK ADD  CONSTRAINT [FK_Patsiendid_Liik] FOREIGN KEY([LiigiID])
REFERENCES [clinic].[Liik] ([LiigiID])
GO
ALTER TABLE [clinic].[Patsiendid] CHECK CONSTRAINT [FK_Patsiendid_Liik]
GO
ALTER TABLE [clinic].[Patsiendid]  WITH CHECK ADD  CONSTRAINT [FK_Patsiendid_Visiit] FOREIGN KEY([VisiidiID])
REFERENCES [clinic].[Visiit] ([VisiidiID])
GO
ALTER TABLE [clinic].[Patsiendid] CHECK CONSTRAINT [FK_Patsiendid_Visiit]
GO
ALTER TABLE [clinic].[Spetsialiseerumine]  WITH CHECK ADD  CONSTRAINT [FK_Spetsialiseerumine_ArstiID] FOREIGN KEY([ArstiID])
REFERENCES [clinic].[T99tajad] ([T99tajaID])
GO
ALTER TABLE [clinic].[Spetsialiseerumine] CHECK CONSTRAINT [FK_Spetsialiseerumine_ArstiID]
GO
ALTER TABLE [clinic].[Visiit]  WITH CHECK ADD  CONSTRAINT [FK_Visiit_Haiguslood] FOREIGN KEY([HaiguslooID])
REFERENCES [clinic].[Haiguslood] ([HaiguslooID])
GO
ALTER TABLE [clinic].[Visiit] CHECK CONSTRAINT [FK_Visiit_Haiguslood]
GO
ALTER TABLE [clinic].[Visiit]  WITH CHECK ADD  CONSTRAINT [FK_Visiit_Patsiendid] FOREIGN KEY([PatsiendiID])
REFERENCES [clinic].[Patsiendid] ([PatsiendiID])
GO
ALTER TABLE [clinic].[Visiit] CHECK CONSTRAINT [FK_Visiit_Patsiendid]
GO
ALTER TABLE [clinic].[Visiit]  WITH CHECK ADD  CONSTRAINT [FK_Visiit_T99tajad] FOREIGN KEY([T99tajaID])
REFERENCES [clinic].[T99tajad] ([T99tajaID])
GO
ALTER TABLE [clinic].[Visiit] CHECK CONSTRAINT [FK_Visiit_T99tajad]
GO
USE [master]
GO
